@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #58595b;
  line-height: 20px;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu {
  width: 45%;
  padding-left: 20px;
}
.header-nav {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menú */
.menuToggle {
  display: block;
  position: relative;
  z-index: 10000;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle input {
  display: block;
  width: 40px;
  /* height: 32px; */
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #004687;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 17px 6px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 35% 0%;
}

.menuToggle span:nth-last-child {
  transform-origin: 0% 50%;
}

.menuToggle input:checked ~ span {
  transform: rotate(-45deg) translate(0, -1px);
  background: #232323;
  margin-left: 15%;
  position: fixed;
}

.menuToggle input:checked {
  margin-left: 15%;
  position: fixed;
}
.menuToggle input:checked ~ span:nth-last-child(2){
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu {
  margin: -100px 0 0 -50px;
  padding: 125px 0 125px 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 20%;
  height: 100%;
  background: #e5e7e8;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  overflow: auto;
  height: 100vh;
}

.menuToggle input:checked ~ div {
  transform: none;
}

.menu img {
  width: 50%;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  text-align: end;
  list-style: none;
  margin-top: 0;
}

.menu-nav li {
  padding: 5px 15px 0 0;
  align-self: flex-end;
  line-height: 10px;
  margin-top: 10px;
}

li.menu-item .home{
  margin: 0;
}

li.menu-oe{
  align-self: flex-end;
  padding-right: 0;
  margin-top: 5px;
}

.menu-oe p {
  margin: 0;
  padding: 5px 10px;
  background: #fff;
  width: 130px;
  border-radius: 30px 0px 0px 30px;
}

li.menu-edition{
  align-self: flex-end;
  padding-right: 0;
  margin-top: 5px;
}

.menu-edition p {
  margin: 0;
  padding: 5px 10px;
  color: #fff;
  background: #004687;
  width: 130px;
  border-radius: 30px 0px 0px 30px;
}

a.menu-link {
  text-decoration: none;
  font-size: 10px;
  font-weight: 600;
  line-height: 0;
  color: #004687;
}

li.menu-item.active {
  background: #cacbcc;
  align-items: center;
  padding: 15px;
  margin-top: 10px;
}

li#open-modal {
  cursor: pointer;
}

/* Paginación */
.nav-logo img{
  width: 130px;
}
.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.nav-left div {
  padding: 5px;
}
.nav-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.next{
  display: flex;
  flex-direction: column;
}
.next.nx-left{
  text-align: end;
}
.nav-btn i, span {
  line-height: normal;
  color: #004687;
  font-size: 12px;
}
.nav-left div p strong {
  color: #004687;
}
/* .nav-logo img {
  width: 100px;
} */



/* Responsive */
@media (max-width: 1272px) {
  .menu {
    max-width: 24%;
  }
  .menuToggle input:checked ~ span {
    margin-left: 18%;
  }
  .menuToggle input:checked {
    margin-left: 18%;
  }
  .nav-logo img {
    width: 100px;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .menu {
    max-width: 38%;
  }
  .menuToggle input:checked ~ span {
    margin-left: 30%;
  }
  .menuToggle input:checked {
    margin-left: 30%;
  }
  a.menu-link{
    font-size: 12px;
  }
  .nav-btn span {
    display: none;
  }
  .nav-left a.nav-btn {
    padding: 10px;
  }
  .nav-btn i, span{
    font-size: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .menu {
    max-width: 95%;
  }
  .menuToggle input:checked ~ span {
    margin-left: 80%;
  }
  .menuToggle input:checked {
    margin-left: 80%;
  }
  .nav-btn{
    padding: 0 20px;
  }
  .nav-btn span{
    display: none;
  }
  .nav-logo img {
    width: 70px;
  }
  a.menu-link{
    font-size: 12px;
  }
  .nav-left div{
    padding: 0;
  }

}