@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background-position: center center; 
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./img/desktop/portada.jpg);
}

h1{
  text-align: center;
  font-size: 7.6rem;
  margin: 0;
}
h3 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}
.logos-home{
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}
.div-img {
  width: 50%;
}
.logo-left{
  position: absolute;
  width: 18%;
  left: 0;
  padding-top: 1rem;
}
.logo-right{
  position: absolute;
  width: 22%;
  right: 0;
}
.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -40px;
}
.texts {
  width: 60%;
  align-self: center;
}
.titles p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}
.titles p strong {
  font-size: 1.8rem;
}
.border-line {
  width: 65%;
  border: 3px solid #fff;
  align-self: center;
  padding: 1rem;
}
.btn-home-div {
  margin-top: 5%;
}
.btn-home {
  background: linear-gradient(to right,#17b1ff 60%,#2a72d6 160%);
  color: #fff;
  padding: 0.5rem 2rem;
  font-size: 1.7rem;
  text-decoration: none;
}
.btn-home:hover{
  background: #17b1ff;
}
.btn-home-div p {
  text-align: center;
  font-size: 0.8rem;
}

@media (max-width: 480px) {
  body {
    background-image: url(./img/mobile/portada.jpg);
  }
  h1{
    font-size: 5rem;
  }
  h3{
    font-size: 1.7rem;
  }
  .logos-home {
    margin-bottom: 20%;
  }
  .titles{
    margin-top: 3rem;
  }
  .titles p{
    font-size: 1rem;
  }
  .titles p strong{
    font-size: 1rem;
  }
  .texts{
    width: 70%;
  }
  .border-line{
    width: 50%;
    padding: 2%;
  }
  .logo-left{
    width: 40%;
  }
  .logo-right{
    width: 35%;
  }
  .btn-home-div{
    margin-top: 30%;
  }
}